{% load new_pin %}
{% load re_pin %}
{% load compress %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
		
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
        <title>{{ site_name }} - {% block title %}{% endblock %}{% block head_title %}{% endblock %}</title>
		
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Fugaz One">
		
        {% compress css %}
			<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}vendor/jquery-ui-tag-it/css/jquery.tagit.css">
			<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}vendor/jquery-ui/1.10.2.custom/css/jquery-ui-1.10.2.pinimatic.css">
            <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}vendor/bootstrap/2.2.2/css/bootstrap.css">
            <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}vendor/fancybox/2.0.6/jquery.fancybox.css">
            <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}vendor/file-uploader/fileuploader.css">
			<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}core/css/pinry.css">
        {% endcompress %}
		
		{% block extra_head %}{% endblock %}

        
    </head>
    <body style="background-color:#111; background-image:url('{{STATIC_URL}}core/img/backgrounds/pw_maze_black.png');">
		<div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <a href="{% url core:home %}" class="brand pull-left">{{ site_name }}</a>
				{% if request.user.is_superuser and in_dev_env %}
				<!-- devlopment TODO list -->
					<ul class="nav pull-left">
						<li class="dev-notes dropdown">
						<a href="#" style="border:none;" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>{{request.session.next}}</li>
							<li>{{request.session.next_locked}}</li>
							<li>- prepin click through</li>

						</ul>
					</ul>
				{% endif %}
				{% if user.is_authenticated %}
				<!-- <li><a class="button-bm" title="Drag this link to your bookmarks or favorites bar, then click it to post things to pinry." href="javascript:void((function(){ var e=document.createElement('script'); e.type='text/javascript'; e.src='{{ BASE_URL }}/bookmarklet/?srcUrl='+location.href; document.body.appendChild(e);})())">PiniFy It</a></li> -->
				<ul class="nav pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							{{ user }}
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a id="user-profile-btn" data-user="{{ user }}" href="{% url pins:user %}{{ user.id }}/" onclick="">Your Pins</a></li>
							<li><a href="{% url notification_notices %}">Your Notifications  {{notice_unseen_count}}</a></li>
							<li class="divider"></li>
							<li><a href="{% url socialaccount_connections %}">Social Connections</a></li>
							<li><a href="{% url account_email %}">Manage Email Address</a></li>
							{% if user.password == "!" %}
								<li><a href="{% url account_set_password %}">Set Password</a></li>
								{% else %}
								<li><a href="{% url account_change_password %}">Change Password</a></li>
							{% endif %}
							{% if remaining_invitations %}
								<li><a href="{% url invitation_invite %}">Invite Friends</a></li>
							{% endif %}
							{% if user.is_staff %}
								<li><a href="{% url invitation_invite_bulk %}">Send Bulk Invitations</a></li>
							{% endif %}
							<li class="divider"></li>
							<li><a href="{% url account_logout %}">Log Out</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Get Started
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
						<li><a href="#new-pin" data-toggle="modal">Add A New Pin</a></li>
						<li class="divider"></li>
						<li><a href="{% url core:help %}#install">Install Bookmarklet</a></li>
						<li><a href="{% url core:help %}#use">Use Bookmarklet</a></li>
						<li><a href="{% url core:help %}#tag ">What are Tags?</a></li>
						<li class="divider"></li>
						<li><a href="{% url core:contact %}">Contact Us</a></li>
						</ul>
					</li>
				</ul>
				{% else %}
				<ul class="nav pull-right">
					<li><a href="{% url account_login %}">Log In</a></li>
					<li><a href="{% url account_signup %}">Sign Up</a></li>
				</ul>
				{% endif %}
				{% block account-nav %}{% endblock %}
            </div>
        </div>
		
		<ul id="messageList" class="messages">
			{% for message in messages %}
				{% if 'click' in message.tags %}
					<div class="{{ message.tags }}">
					<button type="button" class="close" data-dismiss="alert">x</button>
					{{ message }}</div>
				{% else %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endif %}
			{% endfor %}
		</ul>
		
		<div id="content-container">
		<noscript>
			<div class="container">
				<div class="content center framed-white width-600">
				<h4>Hey, you're missing all the good stuff!</h4>
				<p>{{site_name}} requires javascript in order to function properly.  If you need help enableing it please click on your browser icon below.<p>
				<p><a id="ieLink" href="http://www.enable-javascript.com/#ie"><img src="http://www.enable-javascript.com/images/ie9.gif" width="100" height="100" alt="Internet Explorer"></a>
				<a id="firefoxLink" href="http://www.enable-javascript.com/#firefox"><img src="http://www.enable-javascript.com/images/firefox.gif" width="100" height="100" alt="Mozilla Firefox"></a>
				<a id="chromeLink" href="http://www.enable-javascript.com/#chrome"><img src="http://www.enable-javascript.com/images/chrome.gif" width="100" height="100" alt="Google Chrome"></a>
				<a id="safariLink" href="http://www.enable-javascript.com/#safari"><img src="http://www.enable-javascript.com/images/safari.gif" width="100" height="100" alt="Apple Safari"></a>
				<a id="operaLink" href="http://www.enable-javascript.com/#opera"><img src="http://www.enable-javascript.com/images/opera.gif" width="100" height="100" alt="Opera"></a>
				<p>
				</div>
			<div>
		</noscript>
        {% block yield %}{% endblock %}
		</div>
		
		<div id="loader" class="container">
			<div class="">
				<img src="{{STATIC_URL}}core/img/loader.gif" alt="Loader">
			</div>
		</div>
        {% new_pin request %}
		{% re_pin request %}

        {% compress js %}
			{% comment %}TODO: deliver auth user like below, will have to get jason object context processor for it{% endcomment %}
			<script language="javascript">var STATIC_URL = "{{ STATIC_URL }}"; var apiURL = "{{ API_URL }}";</script>
            <script language="javascript" src="{{STATIC_URL}}vendor/jquery/1.7.2/jquery.js"></script>
            <script language="javascript" src="{{STATIC_URL}}vendor/bootstrap/2.2.2/js/bootstrap.js"></script>
            <script language="javascript" src="{{STATIC_URL}}vendor/wookmark/0.5/jquery.wookmark.js"></script>
            <script language="javascript" src="{{STATIC_URL}}vendor/fancybox/2.0.6/jquery.fancybox.js"></script>
            <script language="javascript" src="{{STATIC_URL}}vendor/imagesloaded/2.0.1/jquery.imagesloaded.js"></script>
            <script language="javascript" src="{{STATIC_URL}}vendor/js-url/1.7.2/js-url.js"></script>
			<script language="javascript" src="{{STATIC_URL}}vendor/file-uploader/fileuploader.js"></script>

			<script language="javascript" src="{{STATIC_URL}}vendor/jquery-textext/1.3.1/all-in-one/textext.js"></script>
			<script language="javascript" src="{{STATIC_URL}}vendor/jquery-ui/1.10.2.custom/js/jquery-ui-1.10.2.custom.js" type="text/javascript" charset="utf-8"></script>
			<script language="javascript" src="{{STATIC_URL}}vendor/jquery-ui-tag-it/js/tag-it.js" type="text/javascript" charset="utf-8"></script>
			
			<script language="javascript" src="{{STATIC_URL}}core/js/messages.js"></script>
			<script language="javascript" src="{{STATIC_URL}}core/js/ajaxform.js"></script>
			<script language="javascript" src="{{STATIC_URL}}core/js/pinry.js"></script>
		{% endcompress %}
    </body>
</html>
