{% load new_pin %}
{% load compress %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ site_name }} - {% block title %}{% endblock %}</title>

        {% compress css %}
            <link rel="stylesheet" href="/static/vendor/bootstrap/2.2.2/css/bootstrap.css">
            <link rel="stylesheet" href="/static/vendor/fancybox/2.0.6/jquery.fancybox.css">
            <link rel="stylesheet" href="/static/core/css/pinry.css">
            <link rel="stylesheet" href="/static/vendor/file-uploader/fileuploader.css">
        {% endcompress %}

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Monoton">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <a href="{% url core:home %}" class="brand pull-left">{{ site_name }}</a>

                <ul class="nav pull-right">
                    {% if user.is_authenticated %}
						<li><span style="vertical-align:middle; text-align:right; width:100px; line-height:100%; font-size:11px;">Drag this to your bookmarks bar.</span><a class="buttonbm" title="Drag this link to your bookmarks or favorites bar, then click it to post things to pinry." href="javascript:void((function(){ var e=document.createElement('script'); e.type='text/javascript'; e.src='{{ BASE_URL }}/bookmarklet/?srcUrl='+location.href; document.body.appendChild(e);})())">Pinify It</a></li>
                        <li><a href="#new-pin" data-toggle="modal">New Pin</a></li>
						<li><a href="{% url pins:profile %}{{ user }}/" onclick="loadData(undefined, '{{ user }}');">{{ user }}</a></li>
                        <li><a href="{% url core:logout %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url core:login %}">Login</a></li>
                        <li><a href="{% url core:register %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
			<div class="tags"></div>
        </div>
		
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block yield %}{% endblock %}

        {% new_pin request %}

        {% compress js %}
            <script src="/static/vendor/jquery/1.7.2/jquery.js"></script>
            <script src="/static/vendor/bootstrap/2.2.2/js/bootstrap.js"></script>
            <script src="/static/vendor/wookmark/0.5/jquery.wookmark.js"></script>
            <script src="/static/vendor/fancybox/2.0.6/jquery.fancybox.js"></script>
            <script src="/static/vendor/imagesloaded/2.0.1/jquery.imagesloaded.js"></script>
            <script src="/static/vendor/js-url/1.7.2/js-url.js"></script>
			<script src="/static/vendor/file-uploader/fileuploader.js"></script>

            <script src="/static/core/js/pinry.js"></script>
            <script src="/static/core/js/messages.js"></script>
        {% endcompress %}
    </body>
</html>
