{% load new_pin %}
{% load re_pin %}
{% load compress %}

<!DOCTYPE html>
<html>
    <head>
		
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
        <title>{{ site_name }} - {% block title %}{% endblock %}{% block head_title %}{% endblock %}</title>
		
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Fugaz One">
		
        {% compress css %}
            <link rel="stylesheet" href="{{STATIC_URL}}vendor/bootstrap/2.2.2/css/bootstrap.css">
            <link rel="stylesheet" href="{{STATIC_URL}}vendor/fancybox/2.0.6/jquery.fancybox.css">
            <link rel="stylesheet" href="{{STATIC_URL}}vendor/file-uploader/fileuploader.css">
			<link rel="stylesheet" href="{{STATIC_URL}}core/css/pinry.css">

			<link rel="stylesheet" href="{{STATIC_URL}}vendor/jquery-ui-tag-it/css/tagit.ui-zendesk.css">
			<link rel="stylesheet" href="{{STATIC_URL}}vendor/jquery-ui-tag-it/css/jquery.tagit.css">
        {% endcompress %}
		
		{% block extra_head %}{% endblock %}

        
    </head>
    <body style="background-color:#111; background-image:url('{{STATIC_URL}}core/img/backgrounds/pw_maze_black.png');">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <a href="{% url core:home %}" class="brand pull-left">{{ site_name }}</a>
				{% if user.is_authenticated %}
				<!-- <li><a class="button-bm" title="Drag this link to your bookmarks or favorites bar, then click it to post things to pinry." href="javascript:void((function(){ var e=document.createElement('script'); e.type='text/javascript'; e.src='{{ BASE_URL }}/bookmarklet/?srcUrl='+location.href; document.body.appendChild(e);})())">PiniFy It</a></li> -->
				<ul class="nav pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							{{ user }}
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a id="user-profile-btn" data-user="{{ user }}" href="{% url pins:user %}{{ user.id }}/" onclick="loadData(undefined, '{{ user.id }}');">Your Pins</a></li>
							<li class="divider"></li>
							<li><a href="{% url socialaccount_connections %}">Social Connections</a></li>
							<li><a href="{% url account_email %}">Manage Email</a></li>
							{% if user.password == "!" %}
							<li><a href="{% url account_set_password %}">Set Password</a></li>
								{% else %}
								<li><a href="{% url account_change_password %}">Change Password</a></li>
							{% endif %}
							{% if remaining_invitations %}
							<li><a href="{% url invitation_invite %}">Invite Friends</a></li>
							{% endif %}
							{% if user.is_staff %}
							<li><a href="{% url invitation_invite_bulk %}">Send Bulk Invitations</a></li>
							{% endif %}
							<li class="divider"></li>
							<li><a href="{% url account_logout %}">Log Out</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Get Started
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
						<li><a href="#new-pin" data-toggle="modal">Add A New Pin</a></li>
						<li class="divider"></li>
						<li><a href="{% url core:help %}#install">Install Bookmarklet</a></li>
						<li><a href="{% url core:help %}#use">Use Bookmarklet</a></li>
						<li><a href="{% url core:help %}#tag ">What are Tags?</a></li>
						</ul>
					</li>
				</ul>
				{% else %}
				<ul class="nav pull-right">
					<li><a href="{% url account_login %}">Log In</a></li>
					<li><a href="{% url account_signup %}">Sign Up</a></li>
				</ul>
				{% endif %}
				{% block account-nav %}{% endblock %}
            </div>
        </div>
		

            <ul id="messageList" class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
		
        {% block yield %}{% endblock %}
		
		<div id="loader" class="container">
			<div class="">
				<img src="{{STATIC_URL}}core/img/loader.gif" alt="Loader">
			</div>
		</div>
        {% new_pin request %}
		{% re_pin request %}

        {% compress js %}
			<script language="javascript">var STATIC_URL = "{{ STATIC_URL }}";</script>
            <script src="{{STATIC_URL}}vendor/jquery/1.7.2/jquery.js"></script>
            <script src="{{STATIC_URL}}vendor/bootstrap/2.2.2/js/bootstrap.js"></script>
            <script src="{{STATIC_URL}}vendor/wookmark/0.5/jquery.wookmark.js"></script>
            <script src="{{STATIC_URL}}vendor/fancybox/2.0.6/jquery.fancybox.js"></script>
            <script src="{{STATIC_URL}}vendor/imagesloaded/2.0.1/jquery.imagesloaded.js"></script>
            <script src="{{STATIC_URL}}vendor/js-url/1.7.2/js-url.js"></script>
			<script src="{{STATIC_URL}}vendor/file-uploader/fileuploader.js"></script>
            <script src="{{STATIC_URL}}core/js/messages.js"></script>
			<script src="{{STATIC_URL}}core/js/ajaxform.js"></script>
			<script src="{{STATIC_URL}}core/js/pinry.js"></script>
			
			<script src="{{STATIC_URL}}vendor/jquery-textext/1.3.1/all-in-one/textext.js"></script>
			<script src="{{STATIC_URL}}vendor/jquery-ui/1.10.2.custom/js/jquery-ui-1.10.2.custom.js" type="text/javascript" charset="utf-8"></script>
			<script src="{{STATIC_URL}}vendor/jquery-ui-tag-it/js/tag-it.js" type="text/javascript" charset="utf-8"></script>
        {% endcompress %}
    </body>
</html>
