{% extends "avatar/base.html" %}
{% load avatar_tags %}

{% block content %}
    <h1>Profile Image<a class="btn btn-mini pull-right" href="{% url avatar_get_social %}">Get Images From Social Connnections</a></h1>
    <div id="thumb_div" class="avatars">{% avatar user 210 "img" %}<div class="pull-ul">Current</div></div>
    <div id="choice_list" class="avatars">
    	{% if not avatars %}
    	    <p>Get some personality, upload an image.</p>
    	{% else %}
			{% for avatar in avatars %}
    	    <form class="avatar-choice" method="POST" action="{% url avatar_change %}">
				{% csrf_token %}
				<input type="hidden" name="choice" value="{{avatar.id}}"/>
				<div class="hover-btn"><INPUT TYPE="image" SRC="{% avatar_choice_url avatar %}" WIDTH="90"  HEIGHT="90" BORDER="0" ALT="SUBMIT!"/><div class="overlay"><div class="text">Make Active</div></div></div>
				
			</form>
			<div class="avatar-delete">
    	    	<form method="POST" action="{% url avatar_delete %}">
    	    		{% csrf_token %}
    	    		<input type="hidden" name="choices" value="{{avatar.id}}"/>
					<input type="hidden" name="next" value="{% url avatar_change %}?url={{ upload_avatar_form.url.value }}&next={{next}}" />
    	    		<INPUT class="X" title="Delete" readonly value="X" TYPE="submit" WIDTH="10px"  HEIGHT="10px" BORDER="0"></input>
    	    	</form>
    	    </div>
			
			{% endfor %}
    	{% endif %}
	</div>
	<form class="center" enctype="multipart/form-data" method="POST" action="{% url avatar_change %}">
		<div id="fields_div" class="avatars">
		
			{% csrf_token %}
			{{ upload_avatar_form.non_field_errors }}
			{{ upload_avatar_form.url.errors }}
			<span>URL </span>{{ upload_avatar_form.url}}
			{{ upload_avatar_form.avatar.errors }}
			<span>or Upload </span>{{ upload_avatar_form.avatar}}
		
		</div>
		<div class="form-actions" >
			<input class="btn btn-primary" type="submit" value="Upload New Image" />
			<a class="btn" href="{{next}}">Finished</a>
		</div>
	</form>
{% endblock %}