{% extends "avatar/base.html" %}
{% load avatar_tags %}

{% block content %}
    <h1>Profile Image</h1>
    <div id="thumb_div" class="avatars">{% avatar user 210 %}</div>
    <div id="choice_list" class="avatars">
    	{% if not avatars %}
    	    <p>Get some personality, upload an image.</p>
    	{% else %}
			{% for avatar in avatars %}
    	    <form class="avatar-choice" method="POST" action="{% url avatar_change %}">
				{% csrf_token %}
				<input type="hidden" name="choice" value="{{avatar.id}}"/>
				<div class="hover-btn"><INPUT TYPE="image" SRC="{% avatar_choice_url avatar %}" WIDTH="90"  HEIGHT="90" BORDER="0" ALT="SUBMIT!"/><div class="overlay"><div class="text">Make Active</div></div></div>
				
			</form>
			<div class="avatar-delete">
    	    	<form method="POST" action="/avatar/delete/">
    	    		{% csrf_token %}
    	    		<input type="hidden" name="choices" value="{{avatar.id}}"/>
    	    		<INPUT readonly value="X" TYPE="submit" WIDTH="10px"  HEIGHT="10px" BORDER="0"></input>
    	    	</form>
    	    </div>
			
			{% endfor %}
    	{% endif %}
	</div>
	<div id="fields_div" class="center avatars form-actions ">
    	<form class="center" enctype="multipart/form-data" method="POST" action="{% url avatar_change %}">
			{% csrf_token %}
			<input type="file" name="avatar" value="Avatar Image" {% if upload_avatar_form.avatar.errors %}class="errorlist"{% endif %}/>
			<input class="btn btn-primary btn-mini" type="submit" value="Upload New Image" />
			{{ upload_avatar_form.non_form_errors }}
    	</form>
		<a class="btn btn-primary btn-mini" href="{% url get_social_avatars %}">Get From Social</a>
    </div>
{% endblock %}