{% extends "notification/base.html" %}
{% load humanize %}
{% load i18n %}
{% load tz %}

{% block head_title %}{% trans "Notifications" %}{% endblock %}

{% block body %}
{% with submit_title="Modify All" %}
    {% if all %}
		<form method="POST" class="notices-form" action="{% url notification_toggle_all %}">
		<h1>{% trans "All Notifications" %}
			<div class="btn-group pull-right">
				<button type="submit" title="Modify all notices as marked with checkboxes" class="btn btn-small btn-primary">{% blocktrans %}{{submit_title}}{% endblocktrans %}</button>
				<a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
					Options
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="{% url notification_notices %}">{% trans "View Recent Notices" %}</a></li>
					<li><a href="{% url notification_notices_archived %}">{% trans "View Trash Bin" %}</a></li>			
	{% elif archived %}
		<form method="POST" class="notices-form" action="{% url notification_toggle_all %}">
		<h1>{% trans "Trash Bin" %}
			<div class="btn-group pull-right">
				<button type="submit" title="Modify all notices as marked with checkboxes" class="btn btn-small btn-primary">{% blocktrans %}{{submit_title}}{% endblocktrans %}</button>
				<a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
					Options
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="{% url notification_notices %}">{% trans "View Recent Notices" %}</a></li>
					<li><a href="{% url notification_notices_all %}">{% trans "View All Notices" %}</a></li>
	{% else %}
		<h1>{% trans "Recent Notifications" %}
			<div class="btn-group pull-right">
				<a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
					Options
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="{% url notification_notices_all %}">{% trans "View All Notices" %}</a></li>
					<li><a href="{% url notification_notices_archived %}">{% trans "View Trash Bin" %}</a></li>
					<li class="divider"></li>
					<li><a href="{% url notification_mark_all_seen %}">{% trans "Mark all as seen" %}</a></li>
	{% endif %}		
					<li class="divider"></li>
					<li><a href="{% url notification_notice_settings %}">{% trans "Manage Notifications" %}</a></li></span>
				</ul>
			</div>
		</h1>
	{% if notices %}
		{% if all or archived %}
			{# TODO: get timezone support working with regroup #}
			{% csrf_token %}
			{% regroup notices by added.date|date:"F Y" as notices_by_month %}
			{% for date in notices_by_month %}
				{% if date.grouper != this_month %}
				<h2 class="notice_date">{{ date.grouper }}</h2>
				{% else %}
				<h2 style="margin-top:-16px" class="notice_date">This Month</h2>
				{% endif %}
				<div class="notices-container">
				{% for notice in date.list %}
					{% if notice.unseen %}
					<div class="notice unseen">
					{% else %}
					<div class="notice">
					{% endif %}
						<div class="notice_text inline">{{ notice.render }}</div><br>
						{% comment %}<!-- TODO: make this time display logic a template tag for comments and notices-->{% endcomment %}
						{% if notice.added|localtime|naturalday == 'today' %}
						<div class="notice_time inline">{{ notice.added|naturaltime }}</div>
						{% elif notice.added|localtime|naturalday == 'yesterday' %}
						<div class="notice_time inline">{{ notice.added|localtime|naturalday }}{{ notice.added|date:" \a\t P"}}</div>
						{% elif notice.added|date:"U"  > week_ago|date:"U" %}
						<div class="notice_time inline">{{ notice.added|date:"l \a\t P"}}</div>
						{% else %}
						<div class="notice_time inline">{{ notice.added|date:"\o\n \t\h\e jS \a\t P"}}</div>
						{% endif %}
						<div class="notice-options inline pull-right">
							{%comment%} archive=recyclebin notices are subject to deletion acording to plicy{%endcomment%}
							{% if archived %}
							<div class="notice-archive inline">
								<a title="Remove from trash now" href="{% url notification_toggle_archived notice.id %}" class="btn btn-mini btn-warning">{% trans "Un-Trash" %}
								<input type="hidden" name="{{notice.id}}-archived" value="True">
								<span title="Applied when {% blocktrans %}{{submit_title}}{% endblocktrans %} is clicked" class="notice_mark"><input type="checkbox" name="{{notice.id}}-archived" value="False"{% if not notice.archived %}checked{% endif %}></span></a>
							</div>
							{%comment%}permanent delete{%endcomment%}
							<div class="notice-delete inline">
								<a title="delete this notice now" href="{% url notification_delete notice.id %}" class="btn btn-mini btn-danger">{% trans "Delete" %}
								<input type="hidden" name="{{notice.id}}-delete" value="False">
								<span title="Applied when {% blocktrans %}{{submit_title}}{% endblocktrans %} is clicked" class="notice_mark"><input type="checkbox" name="{{notice.id}}-delete" value="True"</span></a>
							</div>
							{% else %}
							<div class="notice-unseen inline">
								<a title="toogle seen for this notice now" href="{% url notification_toggle_unseen notice.id %}" class="btn btn-mini">Seen
								<input type="hidden" name="{{notice.id}}-unseen" value="True">
								<span title="Applied when {% blocktrans %}{{submit_title}}{% endblocktrans %} is clicked" class="notice_mark"><input type="checkbox" name="{{notice.id}}-unseen" value="False"{% if not notice.unseen %}checked{% endif %}></span></a>
							</div>
							<div class="notice-archive inline">
								<a title="Move to trash bin now (will be deleted when more than 30 days old)" href="{% url notification_toggle_archived notice.id %}" class="btn btn-mini btn-warning">{% trans "Trash" %}
								<input type="hidden" name="{{notice.id}}-archived" value="False">
								<span title="Applied when {% blocktrans %}{{submit_title}}{% endblocktrans %} is clicked" class="notice_mark"><input type="checkbox" name="{{notice.id}}-archived" value="True"{% if notice.archived %}checked{% endif %}></span></a>
							</div>
							{% endif %}
						</div>
					</div>
				{% endfor %}
				</div>
			{% endfor %}
			</form>
		{% else %}
			<div class="notices-container">
			{% for notice in notices %}
				{% if notice.unseen %}
				<div class="notice unseen">
				{% else %}
				<div class="notice">
				{% endif %}
					<span class="notice_message">{{ notice.render }}</span>
					{% comment %}<!-- TODO: make this time display logic a template tag for comments and notices-->{% endcomment %}
					{% if notice.added|localtime|naturalday == 'today' %}
					<div class="notice_time inline">{{ notice.added|naturaltime }}</div>
					{% elif notice.added|localtime|naturalday == 'yesterday' %}
					<div class="notice_time inline">{{ notice.added|localtime|naturalday }}{{ notice.added|date:" \a\t P"}}</div>
					{% elif notice.added|date:"U"  > last_week|date:"U" %}
					<div class="notice_time inline">{{ notice.added|date:"l \a\t P"}}</div>
					{% else %}
					<div class="notice_time inline">{{ notice.added|date:"\o\n \t\h\e jS \a\t P"}}</div>
					{% endif %}
				</div>
			{% endfor %}
			</div>
		{% endif %}
    {% else %}
        <p>{% trans "You have no notices in this view, take a look at  " %}<a href="{% url notification_notices_all %}">{% trans "ALL NOTICES" %}</p>
    {% endif %}
{% endwith %}    
{% endblock %}