{% extends "notification/base.html" %}

{% load i18n %}
{% load avatar_tags %}

{% block body_id %}notification-settings{% endblock %}

{% block head_title %}{% trans "Notification Settings" %}{% endblock %}

{% block body %}
<div class="notification notification-settings">
    <h1>{% trans "Notice Settings " %}({{notice_settings.rows.0.observed.content_type.name|capfirst}}s)
		<div class="btn-group pull-right">
			<a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
				Options
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="{% url notificaton_observation_settings 'user' %}">{% trans "Individual User Notice Settings" %}</a></li>
				<li><a href="{% url notificaton_observation_settings 'pin' %}">{% trans "Individual Pin Notice Settings" %}</a></li>
				<li><a href="{% url notification_notice_settings %}">{% trans "Manage Notifications" %}</a></li>
				<li><a href="{% url notification_notices_all %}">{% trans "View All Notices" %}</a></li>
				<li><a href="{% url notification_notices_archived %}">{% trans "View Deleted Notices" %}</a></li>	
			</ul>
		</div>
	</h1>
{% load url from future %}    
    {% url "account_settings" as email_url %}
    {% if not request.user.email %}
        {% blocktrans %}
        <p class="alert alert-warning">
            <span class="warning">Note</span>:
            You do not have a verified email address to which notices can be sent. <a href="{{ email_url }}">Add one</a> now.
        </p>
        {% endblocktrans %}
    {% endif %}

    <form method="POST" class="form" action="">
        {% csrf_token %}
		<div class="form-table">
			<table class="table observation_settings">
				<tr>
					<th>{% trans "From:" %}</th>
					{% for header in notice_settings.column_headers %}
						<th>
							{{ header.title }}s
						</th>
					{% endfor %}
				</tr>
				{% if notice_settings.rows|length > 0 %}
					{% for row in notice_settings.rows %}
					<tr class="notice-row">
						<td class="notice_type_description" width="auto">
							{% if row.observed.content_type.name == "pin" %}
								<strong>{{ row.observed.content_type|capfirst }} by {{ row.observed.observed_object.submitter|capfirst }}</strong>
								<span class="notice_type_description"><br>
								<a href="{% url 'pins:pin-detail' row.observed.object_id %}">
								<img src="{{MEDIA_URL}}{{ row.observed.observed_object.thumbnail }}"/></a>
							{% elif row.observed.content_type.name == "user" %}
								<div class="avatar-pill vert">
									<a href="{% url 'pins:profile' row.observed.observed_object.id %}">
									<div class="user">{{ row.observed.observed_object.username|capfirst }}</div>
									<div class="avatar">{% avatar user 80 %}</div>
									</a>
								</div>
							{% else %}
								<strong>{{ row.observed.content_type }}: </strong>
								<span class="notice_type_description"><br>
								{{ row.observed.observed_object }}
								</span>
							{% endif %}
							
						</td>
						{% for cell in row.cells %}
						<td style="vertical-align:middle" class="center" width="80px">
							{% if cell.0 %}
							<input type="checkbox" name="{{ cell.0 }}" {% if cell.1 %}checked="yes"{% endif %} />
							{% endif %}
						</td>
						{% endfor %}
					</tr>
					{% endfor %}
				{% else %}
					<tr class="notice-row">
						<td class="notice_type_description">
						You have no individual notifaications yet.
						</td>
					</tr>
				{% endif %}
			</table>
		</div>
        
        <div class="form-actions">
            <button type="submit" class="btn btn-primary pull-right">{% trans "Change" %}</button>
        </div>
    </form>
</div>
{% endblock %}