{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load i18n l10n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}
{% block content %}
<form action="" method="post">{% csrf_token %}
    <p>The email below will be sent to these users:</p>
	<div>
		<fieldset class="module aligned">
			<div class="form-row field-from_email">
				<div>
					<label for="id_from_email" class="required">From Email:</label>
					<select name="from_email" id="id_from_email">
						<option value="{{from_email}}">{{from_email}}</option>
						<option value="Support {{from_email}}">Support {{from_email}}</option>
						<option value="IMPORTANT {{from_email}}">IMPORTANT {{from_email}}</option>
					</select>
				</div>
			</div>
			<div class="form-row field-subject">
				<div>
					<label for="id_subject" class="required">Subject:</label>
					<input id="id_subject" class="vTextField" type="text" name="subject" value=""/>
				</div>
			</div>
			<div class="form-row field-message">
				<div>
					<label for="id_message" class="required">Message:</label>
					<textarea id="id_message" rows="10" cols="75" name="message"></textarea>
				</div>
			</div>
			<div class="form-row field-html-preview">
				<div>
					<div style="" class="required">HTML Preview:</div>
					<div id="id_html_preview" style="width:600px; height:auto; border:1px solid Black; background-color:Black;">{{html_preview}}</div>
				</div>
			</div>
			<div class="form-row field-text-preview">
				<div>
					<div style="" class="required">TEXT Preview:</div>
					<textarea id="id_text_preview" style="width:600px; height:300px; border:1px solid Black;">{{text_preview}}</textarea>
				</div>
			</div>
		</fieldset>
	</div>
	
	<div>This email will be sent to {{queryset|length}} users!</div>
    <ul>{{ queryset|unordered_list }}</ul>

    <div>
    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
    {% endfor %}
    <input type="hidden" name="action" value="send_email" />
    <input type="hidden" name="post" value="yes" />
    <input type="submit" value="Send Email" />
    </div>
</form>
<script>
document.getElementById('id_message').addEventListener('change', onChange, false);
oldText = "--your note will be inserted here--";
function onChange(e){
	console.warn(e);
	console.warn(e.target);
	text = e.target.value;
	console.warn(e.target.value);
	document.getElementById('message_display').innerHTML = text;
	text = text.replace(/<.*?>/g, '')
	preview_text = document.getElementById('id_text_preview')
	preview_text.innerHTML = preview_text.innerHTML.replace(oldText, text);
	oldText = text;
}
</script>
{% endblock %}