/* MODIFICATIONS TO BOOTSTRAP */
input[type="radio"], input[type="checkbox"] {
  margin: 0px 2px 2px 0px;
}

.modal {
  width: 498px;
  margin: -230px 0 0 -250px;
}
.modal.fade {
  top: -100%;
}
.modal.fade.in {
  top: 50%;
}
.modal-footer {
  padding: 10px 15px;
}
.modal-body {
  height: auto;
  max-height: 400px;
  padding: 15px 15px 0px 15px;
}
.modal-header h3{
  display:inline-block;
  margin-right: 25px;
}

.form-container {
    border: 1px solid #ccc;
    background-color: white;
	width: 470px;
    padding: 15px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.form-container .form-actions{
  float: left;
  text-align: right;
  width: 100%;
  padding: 10px 15px 10px 15px;
  margin: 0px 0px -15px -15px;
}
.form-container .form-header{
  width: 100%;
  padding: 5px 15px 5px 15px;
  margin: -15px 0px 15px -15px;
  border-bottom: 1px solid #CCC;
  
}
.form-header h3{
  display:inline-block;
  margin: 0px 25px 0px 0px ;
  
}
.form-actions {
	margin-bottom: 0;
}

.form{
    text-align: center;
}

.form #fields_div{
  vertical-align: top;
  text-align: left;
  display: inline-block;
  width: 220px;
}
.form #usertags_div{
  width: 100%;
}

.form #repin_div{
  width: 100%;
  height: 102px;
}
.form #thumb_div{
  vertical-align: bottom;
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
  width:200px;
}
.form #thumb_div img{
	max-width: 200px;
	max-height: 200px;
	vertical-align: bottom;
}
.form #div_id_tagsUser_0{
  display: inline-block;
  text-align: left;
  width: 450px;
}
.form #div_id_tags{
  display: inline-block;
  text-align: left;
  width: 450px;
}
#re-pin-form textarea {
		height: auto;
		max-height: 170px;
		resize: vertical;
	}
.form #div_id_tagsUser_0 .controls{
	padding:2px 2px 0px 8px;
	width:auto%;
	max-height: 75px;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #FFF;
	border: 1px solid #CCC;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.form #div_id_tagsUser_0 ul{
	list-style-type: none;
	margin: 0px;
}
.form #div_id_tagsUser_0 li{
  overflow: hidden;
  float:left;
  width:105px;
}
	#re-pin-form textarea {
		height: auto;
		max-height: 170px;
		resize: vertical;
	}

h1, h2, h3, h4, h5, h6 {
	margin: 5px 0;
}
.form .control-group.error > label {
  color: black;
  display: inline-block;
}
.form .help-inline.control-label {
  display: inline;
  vertical-align: inherit;
  padding-left: 0px;
  cursor: default;
  font-size: 12px;
}
[class^="icon-"],
[class*=" icon-"] {
  background-image: url("/static/vendor/bootstrap/2.2.2/img/glyphicons-halflings.png");
}
.container{
	width:auto;
	margin:auto;
}
/*File Uplader overides*/
.qq-upload-spinner {
	background: url("/static/vendor/file-uploader/loading.gif");
	}
/* ALLAUTH FORMS*/
.form-container.accounts {
	width:220px;
	background-color: transparent;
	color: #AAA;
}
	.form-container.accounts h1{
		color:#444;
		font-size:24px;
		line-height:24px;
		width: 100%;
		padding: 9px 15px;
		margin: -15px 0px 15px -15px;
		border-bottom: 1px solid #AAA;
		background-color: White;
	}
	.form-container.accounts h2{
		font-size:16px;
		line-height:16px;
		width: 100%;
		padding: 9px 15px;
		margin: 15px 0px 15px -15px;
		border-bottom: 1px solid #AAA;
		border-top: 1px solid #AAA;
	}
	.form-container.accounts  label{

	}

.socialaccount_providers{
	margin:0px -5px;
}
/*jquery-ui*/
.ui-autocomplete {
  z-index:1100;
}
/* PINIMATIC */
.dev-notes > .dropdown-menu{
		min-width:400px;
	}
.errorlist {
	margin: 0 0 10px 15px;
	color: #B94A48
}
.error-page{
	width:400px;
	font-size: 12px;
	overflow-wrap: break-word;
	color: #888;
}

.error-page h1{
	color: #333;
}
a:hover{
	color: #398F00;
	text-decoration:none;
}

h5, h6 {
margin: 0px 0px;
}

body {
    margin-top: 60px;
}
.button-bm{
	padding:0px 5px 0px 5px !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 20px;
	font-size: 12px;
	color: #999 !important;
	text-shadow: none;
	margin: 0px 5px 0px 5px;
	cursor: pointer;
	-moz-border-radius:2px; 
	border-radius: 2px;
	box-shadow: 1px 1px 2px #888888;
	border:1px solid #ccc;
	background: white;
	display: inline-block;
	text-decoration: none;
	font-family: 'Fugaz One';
}
.button-bm:hover{
	color: #398F00 !important;
	text-decoration:none !important;
}

.navbar .button-bm{
		margin: 8px 10px 8px 10px !important;
	}
.navbar-inner {
    background-image: none;
    background: white;
    filter: none;
	min-height: 30px;
	height: 30px;
    border-bottom: 1px solid #999;
	/*set to prevent nave bar overlap*/
	min-width: 540px;
}
	
	.navbar .brand {
		color: #444;
		font-family: 'Fugaz One';
		font-size: 18px;
		padding-left:0px;
		margin-left:10px;
		/*controll height & center*/
		padding-top: 5px;
    }
	.navbar .nav > li > a{
        color: #999;
        text-shadow: none;
        border-left: 1px solid #ccc;
		margin: 0px;
		cursor: pointer;
		/*controll height & center*/
		padding: 5px 8px;
    }

	.navbar .nav > li > a:hover{
        color: #555;
    }

.messages {
    list-style-type: none;
    top: 50px;
    right: 10px;
    position: fixed;
    z-index: 200;
	max-width: 300px;
}
    .messages div,
    .messages li {
        margin: 0px 10px 10px 10px;
        border: 1px solid #ccc;
        font-size: 16px;
    }
    .messages div:hover,
    .messages li:hover {
        -webkit-transform-origin:right center; /* Safari and Chrome */
            -ms-transform-origin:right center; /* IE 9 */
                transform-origin:right center;
        -webkit-transform: scale(1.05);
           -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
             -o-transform: scale(1.05);
                transform: scale(1.05);
        cursor: default;
    }
	.messages button{
        cursor: pointer;
    }

#loader {
	text-align: center;
	z-index: 1000;
	width: 100%;
	position: fixed;
	bottom: 100px;
}

.ui-widget {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}
	.ui-widget input, 
	.ui-widget select, 
	.ui-widget textarea, 
	.ui-widget button{
		font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	
#tags {
    padding-bottom: 5px;
}

	.tag:hover {
		color: #398F00;
		background-color: #FFF;
    }

	.tagit.ui-widget .ui-state-default.tagit-choice,
	.tag{
		cursor: pointer;
		display: inline-block;
		margin: 1px 0px;
		padding: 2px 4px;
		font-size: 11px;
		font-weight: Bold;
		line-height: 13px;
		color: #777;
		text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.97);
		white-space: nowrap;
		vertical-align: baseline;
		border: 1px solid #ccc;
		background: #f4f4f4;
		border-radius:3px;
    }
	.tagit.ui-widget .ui-state-default.tagit-choice{
		padding: 2px 20px 2px 4px;
		margin: 1px 2px 1px 0px;
	}
	
	ul.tagit {
		padding:3px 5px;
		max-height:50px;
		text-align:left;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		box-sizing: border-box;
	}
	ul.tagit li.tagit-new{
		margin:2px 0 0 2px;
		padding:0;
		line-height: 12px;
		width:100px;
	}
	.tagit-label{
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: Bold;
		font-size: 12px;
	}
	.tagit.ui-widget.active{
		border-color: rgba(82, 168, 236, 0.8);
		outline: 0;
		outline: thin dotted 9;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	}

#pins-container {
    top: 70px;
    position: absolute;
    background: #eee;
    z-index: 100;
	float: left;
}

.indent p,
.indent li,
.indent textarea{
	margin-left:20px;
}
.indent textarea{
	width:90%;
	margin:10px 20px;
}
.code{
	cursor: text !important;
	resize: none;
	height: 65px;
	padding:5px;
}

.help-page{
	width:500px;
	margin:auto;
	padding:10px 20px 10px 20px;
	background: White;
	border-radius: 6px;
}
.help-page.container {
	margin-top:40px;
}

.pin {
	background: #fff;
	width: 210px;
	float: left;
	border: 1px solid #ccc;
	padding: 15px 15px 0px 15px;
	display: none;
	font-size: 11px;
	color: #777
}
	.pin img {
		padding: 0;
		margin: 0;
		width: 210px;
	}
	.pin p {
		margin-bottom: 0;
		padding-top: 3px;
		padding-bottom: 3px;
	}
	.pin a {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}
	.pin .style-a {
		color: #000;
		cursor:default;
	}

	.pin a:visited {
		
	}
	.pin a:hover {
		color: #398F00;

		
	}
	.pin.item a:hover {

	}

	.pin strong {
		color: #000;
		font-weight: normal;
	}
	.pin i {
		vertical-align: text-bottom;
	}
	.pin-desc {
		color: #333;
		font-size: 12px;
		min-height: 25px;
	}
	.pin-info {
		font-size: 11px;
		width: auto;
		margin-top: 2px;
		display: inline-block;
		line-height: 14px;
	}
	.pin-info l{
		display: block;
	}
	.pin-stats {
		float: right;
		width: auto;
		text-align: right;
		line-height: 14px;
		margin-top: 2px;
	}
	.pin-stats > .dropdown-menu{
	min-width: 70px;
	max-width: 100px;
	}
	.pin-stats > ul > li > a{
		line-height:10px;
		text-align:center;
		cursor: pointer;
	}
	.pin-stats > ul > li > a:hover{
		color: #398F00;
		background-image: linear-gradient(to bottom, rgb(234, 238, 240), rgb(227, 232, 235));
	}
	.pin-stats > .stat{
		width:auto;
		display:inline-block;
		cursor:pointer;
	}
	/*drop-down caret*/
	.dm-caret.dropdown-menu:before {
		position: absolute;
		top: -8px;
		right: 7px;
		display: inline-block;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #ccc;
		border-left: 7px solid transparent;
		border-bottom-color: rgba(0, 0, 0, 0.2);
		content: '';
	}
	.dm-caret.dropdown-menu:after {
		position: absolute;
		top: -6px;
		right: 8px;
		display: inline-block;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #ffffff;
		border-left: 6px solid transparent;
		content: ' ';
	}/*end drop-down caret*/
	.background-50{
		background-color: #eee;
		opacity:0.8;
		text-align: center;
		padding: 2px 0px 4px 0px;
		margin: 5px auto;

	}
	.pin-options {
		margin: -75px 80px -15px 0px;
		line-height: 0px;
		display: none;
		right: 50%;
		position: absolute;
		cursor: pointer;
		width: 0px;
		top: 50%;
		z-index: 10;

	}
		.pin-options a {
			font-weight:bold;
		}
		.pin-options i{
			margin: 3px;
		}
		.pin-options .inline {
			width:39px;
			text-align:center;
			line-height:10px;
		}
		.pin-options .btn-lg {
			width:160px;
			height: 32px;
			margin: 10px auto;
			border-radius: 3px;
			-moz-border-radius:3px; 
			box-shadow: 2px 2px 3px Black;
			-webkit-box-shadow: 2px 2px 3px Black;
			-moz-box-shadow: 2px 2px 3px Black;
			cursor:pointer;
		}
		
		.pin-options .btn-lg .icon {
			height:30px;
			width:35px;
			margin:0px;
			font-weight:bold;
		}
		.pin-options .btn-lg .text{
			line-height:30px;
			font-size:14px;
			font-weight:bold;
			width:120px;
			overflow: hidden;
			height: 28px;
			margin: 2px 4px 2px 0px;
			vertical-align: middle;
			height: 100%;
			position: relative;
			top: -6px;
		}
		/* (not used) cog toggle button */
		.pin-options-btn{
			right: 0px;
			top: 0px;
			position: absolute;
			padding: 2px 2px 8px 8px;
			margin: -2px 0px 0px 0px;
			cursor:pointer;
		}
		.img-btn{
			position:absolute;
			cursor:pointer;
			width:100%;
			height:100%;
			top: 0px;
			/*REQUIRED FOR IE to stop click through */
			background:#000;
			background:rgba(0,0,0,0);
			filter:alpha(opacity=0);
		}
		
		.pin.item .image.touch-off:hover .pin-options,
		.pin.item .image.touch-on .pin-options.touch-hover {
			display: block;
		}
		#details:hover {
			background-color: White;
		}
	.pin .image{
		position:relative;
	}

	.pin .header{
		height: 100%;
		margin: -15px -15px 0px -15px;
		color: #666;
		padding: 0px 15px 0px 15px;
		background-color: #f4f4f4;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f4f4));
		background-image: -webkit-linear-gradient(top, #ffffff, #f4f4f4);
		background-image: -moz-linear-gradient(top, #ffffff, #f4f4f4);
		background-image: -ms-linear-gradient(top, #ffffff, #f4f4f4);
		background-image: -o-linear-gradient(top, #ffffff, #f4f4f4);
		background-image: linear-gradient(top, #ffffff, #f4f4f4);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f4f4f4');
	}
	.pin.welcome .header a:hover{
		font-weight: bolder;
		text-decoration: underline;
	}
	.section {
		height: auto;
		border-top: 1px solid #ccc;
		margin: 0px -15px;
		padding: 5px 15px 5px 15px;
		line-height: 16px;
	}
	.catagories a{
	float: left;
	width: 50%;
	overflow: hidden;
	}
	.sources .inline{
		width: 100%;
	}
	.pin.item .section {
		background-color: #f4f4f4
	}
	.pin.welcome,
	.pin.profile {
		padding-bottom: 0px;
	}
	.pin.profile .large {
		line-height: 10px;
		font-size: 12px;
		font-weight: bold;
	}
	.pin.profile a:hover {

	}
	
	.pin .btn-hover:hover {
		font-weight: normal;
		background: #F0F0F0;
	}
	.pin .btn-hover{
		margin: 2px 0px 2px 0px;
		white-space: nowrap;
		overflow: hidden;
	}
		
	.pin .btn.follow {
		width: 70px;
		margin-right: 10px;
		position:absolute;
		top:4px;
		right:0;
	}
	.pin-cmnts {
		font-size: 11px;
		cursor: default;
	}
		.pin-cmnt .options {
			display: none;
			float:right;
			cursor:pointer;
		}
			.pin-cmnt .options  i{
			margin-left: 5px;
		}
		.pin-cmnt.touch-off:hover .options,
		.pin-cmnt.touch-on .options.touch-hover{
			display: block;
			float:right;
		}

	.pin .pin-tags{
		
	}
	.pin .icon {
		background-position: 0px 0px;
		display: inline-block;
		width: 11px;
		height: 11px;
		margin: 1px 1px 2px 5px;
		line-height: 14px;
		vertical-align: text-bottom;
	}
	.pin-cmnts .icon {
		margin-left: 0px;
		margin-right: 5px;
	}
	.pin form{
		text-align: left;
		height:78px;
		
	}
	.pin form * {
		font-size: 11px;
	}
	.pin form span{
		float: left;
	}
	.pin form input, 
	.pin textarea{
		width: 100%;
		padding: 0px;
		margin: 0px 0px 5px 0px;
		text-align: left;
		float: left;
		resize: vertical;
		max-height: 100px;
	}

	.pin form button{
		float: right;
		line-height: 18px;
	}
	.pin .pin-cmnt-form {
		
	}
	

	.pin.group {
		min-height: 150px;
	}
		.pin.group .thumb.p1 {
			background: #fff;
			width: 210px;
			float: left;
			line-height: 0px;
		}
		.pin.group .thumb.board {
			background: #fff;
			width: 68px;
			float: left;
			display: none;
			line-height: 0px;
		}
		.pin.group .thumbs {
			position: relative;
			background: #eee;
		}
		.pin.group .info {
			position: absolute;
			background: White;
			z-index: 110;
			width: 210px;
			padding: 5px 15px 15px 15px;
			bottom: 0px;
			left: 0px;
			height: 30px;
		}


/* FORMS */
form {
	margin-bottom: 0;
}
form h1 {
	font-family: 'Monoton';
	text-align: center;
	font-weight: normal;
	margin-bottom: 0px;
}
	textarea {
		height:50px;
		max-height: 100px;
		resize: vertical;
	}
	
	input[type="file"] {
		height: 25px;
		width: 200px;
		line-height: 25px;
	}


/* GENERAL FORMATTING */
.inline {
	position:relative;
	display:inline-block;
	text-align:left;

}

.center {
	text-align:center;
}
.white{
	color: White;
}
.light{
	color: #777;
}
.dark{
	color: Black;
}
.black{
	color: Black;
}
.expand{
	width:100%;
}
.hover:hover *{
	color: Black;
}
.vert50 {
	width: 49%;
}
.vert33 {
	width: 32%;
}
.vert-left{
	width: auto;
	float:left;
}
.vert-right{
	width: auto;
	float:right;
}
.vert-auto{
	width: auto;
}

/* ICONS */
.icon-chat{
	background-image: url("/static/core/img/icons-chat-12.png");
	background-position: -0px 2px;
}
.icon-chat-empty{
	background-image: url("/static/core/img/icons-chat-o-12.png");
	background-position: -0px 2px;
}
.icon.favs {
	background-image: url("/static/core/img/icons-star.png");
}
.icon.cmnts {
	background-image: url("/static/core/img/icons-chat-11.png");
	background-position: -0px 1px;
}
i.repins {
	/* background-size:469px 159px;
	background-position:-408px -96px; */
	/* 75% */
	background-size:351.75px 119.25px;
	background-position:-304px -72px;
}


/* TOIUCH */
.touch-on{

}
.touch-off{

}
