html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

h5, h6 {
margin: 0px 0px;
}
body {
    margin-top: 70px;
	background-color: #E0EBCC;
    background: url("/static/core/img/background.png");
	background: url("http://fc05.deviantart.net/fs16/f/2007/149/e/0/Background_Texture_Dark_by_colmahouse.jpg");
	}
.navbar-inner {
    background-image: none;
    background: white;
    filter: none;
    border-bottom: 1px solid #999;
    height: 48px;
	/*set to prevent nave bar overlap*/
	min-width: 750px;
}

    .navbar .brand {
        margin-left: 0;
        color: #999;
        font-family: 'Monoton';
        font-size: 30px;
		padding: 14px 20px 10px;
    }
	.navbar .nav > li > a,
	.navbar .nav > li > p{
        color: #999;
        text-shadow: none;
        border-left: 1px solid #ccc;
        padding: 14px 20px 15px;
		margin: 0px;
		cursor: pointer;
		display: inline-block;
    }
	.navbar .nav > li > span{
		color: #999;
        text-shadow: none;
		display: inline-block;
	}
	.navbar .nav > li > a:hover,
	.navbar .nav > li > p:hover{
        color: #555;
    }
.buttonbm {
	-moz-border-radius:2px !important; 
	border-radius: 2px !important;
	box-shadow: 1px 1px 2px #888888 !important;
	border:1px solid #ccc !important;
	margin:12px 10px 0px 10px !important;
	padding:0px 5px 0px 5px !important;
}
.messages {
    list-style-type: none;
    top: 50px;
    right: 10px;
    position: absolute;
    z-index: 200;
}

    .messages li {
        margin: 10px 0;
        padding: 18px 28px;
        border: 1px solid #ccc;
        font-size: 16px
    }

    .messages li:hover {
        -webkit-transform: scale(1.1);
           -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
             -o-transform: scale(1.1);
                transform: scale(1.1);
        cursor: pointer;
    }

#loader {
    margin-top: 70px;
    text-align: center;
}


.tags {
    padding: 0px 0px 0px 20px;
}

    .tag {
        cursor: pointer;
    }

#pins-container {
    top: 70px;
    position: absolute;
    background: #eee;
    z-index: 100;
	float: left;
}
#user-info .header{
	margin: -20px -20px 0px -20px;
	color: #666;
	padding: 0px 20px 0px 20px;
	background-color: #f4f4f4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f4f4));
	background-image: -webkit-linear-gradient(top, #ffffff, #f4f4f4);
	background-image: -moz-linear-gradient(top, #ffffff, #f4f4f4);
	background-image: -ms-linear-gradient(top, #ffffff, #f4f4f4);
	background-image: -o-linear-gradient(top, #ffffff, #f4f4f4);
	background-image: linear-gradient(top, #ffffff, #f4f4f4);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f4f4f4');
}

#user-info .header > *{
	display: inline-block;
}
	#user-info .section {
		width: 200px;
		height: auto;
		border-top: 1px solid #ccc;
		margin: 0px -20px;
		padding: 5px 20px 0px 20px;
		line-height: 16px;
	}
	.inline > *{
		position:relative;
		display:inline-block;
		margin-right:3px;
		text-align:center;
	}
	.inline > a > span{
		line-height: 0px;
		font-size: 12px;
		font-weight: bold;
	}
		
	#follow-btn {
		width: 70px;
		margin-right: 10px;
		position:absolute;
		top:9px;
		right:0;
	}

.pin {
	background: #fff;
	width: 200px;
	float: left;
	border: 1px solid #ccc;
	padding: 20px;
	display: none;
}
	.pin img {
		padding: 0;
		margin: 0;
	}

	.pin p {
		margin-bottom: 0;
		padding-top: 3px;
		padding-bottom: 3px;
		
	}
	
	.pin a {
		color: #777;
		text-decoration: none;
		font-size: 10px;
	}
	
	.pin a:link {
		color: #555;
	}
	
	.pin a:visited {
		color: #555;
	}
	
	.pin a:hover {
		color: #000;
	}
	
	.pin strong {
		color: #000;
		font-weight: normal;
	}
	
	.pin .text {
		font-size: 10px;
		cursor: default;
		color: #777;
	}

.pin-options {
    margin: 5px;
    display: none;
    right: 20px;
    position: absolute;
    padding: 0px 2px 3px 2px;
    background-color: #eee;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 1px 3px #ccc;
       -moz-box-shadow: 0 1px 3px #ccc;
            box-shadow: 0 1px 3px #ccc;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
    
    .pin:hover .pin-options {
        display: block;
    }
	.pin-options a{
        padding: 3px;
    }

    form h1 {
        font-family: 'Monoton';
        text-align: center;
        font-weight: normal;
        margin-bottom: 0px;
    }

    form {
        margin-bottom: 0;
    }

        textarea {
            height: 70px;
        }
		
		input {
            height: 25px;
        }
		input[type="file"] {
			height: 25px;
			width: 200px;
			line-height: 25px;
		}

        .form-actions {
            margin-bottom: 0;
        }
		
/* MODIFICATIONS TO BOOTSTRAP */		
.modal {
  width: 498px;
  margin: -230px 0 0 -250px;
}
.modal.fade {
  top: -50%;
}
.modal.fade.in {
  top: 50%;
}
.modal-footer {
  padding: 10px 15px;
}
.modal-header h3{
  display:inline-block;
  margin-right: 25px;
}

.form-container {
    border: 1px solid #ccc;
    background-color: white;
	width: 470px;
    padding: 15px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}
.form-container .form-actions{
  float: left;
  text-align: right;
  width: 100%;
  padding: 10px 15px 10px 15px;
  margin: 0px 0px -15px -15px;
}
.form-container .form-header{
  width: 100%;
  padding: 5px 15px 5px 15px;
  margin: -15px 0px 15px -15px;
  border-bottom: 1px solid #CCC;
  
}
.form-header h3{
  display:inline-block;
  margin: 0px 25px 0px 0px ;
  
}

.form{
    text-align: center;
}

.form #fields_div{
  text-align: left;
  display: inline-block;
  width: 220px;
}
.form #thumb_div{
  vertical-align: top;
  text-align: center;
  display: inline-block;
  margin-right: 30px;
  margin-top: 5px;
  width: 200px;
  height: 100%;
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


.form .control-group.error > label {
  color: black;
  display: inline-block;
}
.form .help-inline.control-label {
  vertical-align: inherit;
  padding-left: 0px;
  cursor: default;
}
