{% load new_pin_remote %}
{% load compress %}
{% load bootstrap_field %}

	<link name="cssf1" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Fugaz One">

{% compress css %}
	<link name="csspo" rel="stylesheet" href="{{STATIC_URL}}core/css/pinryOverlay.css">
	<link name="cssui" rel="stylesheet" href="{{STATIC_URL}}vendor/jquery-ui/1.10.2.custom/css/jquery-ui-1.10.2.pinimatic.css">
	<link name="cssti" rel="stylesheet" href="{{STATIC_URL}}vendor/jquery-ui-tag-it/css/jquery.tagit.css">
	<link name="cssbs" rel="stylesheet" href="{{STATIC_URL}}vendor/bootstrap/2.2.2/css/bootstrap.css">
{% endcompress %}



{% block yield %}{% endblock %}
{% new_pin_remote request %}



{% compress js %}
   
{% endcompress %}
