{% extends 'core/base.html' %}

{% load bootstrap_field %}


{% block title %}New Pin{% endblock %}

{% block yield %}
    <div class="form-container">
		<div class="form-header">
			<h3 id="edit-form-title" >Edit Pin</h3>
			<span>* Required fields</span>
		</div>
		<form enctype="multipart/form-data" action="" id="edit-pin-form" method="post" class="form">
			<div id="fields_div">
				{{ form.non_field_errors }}
				{% csrf_token %}
				{% for field in form %}
					{% bootstrap_field field %}
				{% endfor %}
			</div>
			<div id="thumb_div">
				<img id="thumb_id" src="{{thumb}}" alt="Invlaid Image"/>
			</div>
			<div class="form-actions">
                <button id="submit-btn" type="submit" class="btn btn-primary">Post</button>
				<a href="{% url core:home %}" onClick="cancelNewPin();" class="btn">Cancel</a>
			</div>
		</form>
    </div>
	<script>
		var id = document.getElementById('id_id')
		var title = document.getElementById('edit-form-title')
		var submitBtn = document.getElementById('submit-btn')
		if (id.value){
			title.innerHTML = 'Edit Pin'
			submitBtn.innerHTML ='Save'
		}else{
			title.innerHTML = 'New Pin'
			submitBtn.innerHTML ='Submit'
		}
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("input attribute[name=tags").tagit();
		});
	</script>
			
{% endblock %}
