{% load bootstrap_field %}

<div class="modal fade" id="form-container" style="display: none;">
    <div class="modal-header">
        <h3>New Pin</h3>
    </div>
	<div class="modal-body">
		<!-- change to post once ssl is enabled with csrf -->
        <form action="" enctype="multipart/form-data" method="get" id="ajaxform" name="pin_form" class="form">
			<div id="fields_div">
				<!-- need xcsrf token needed but issue with single quote used instead of double -->
				{% for field in form %}
					{% if field.name == "imgUrl" or field.name == "image" %}
						<div id="div_{{ field.id_for_label }}" class="control-group" style="display:none;">
						{{ field.as_hidden }}
						</div>
					{% elif field.name == "repin"%}
					{% else %}
						{% bootstrap_field field %}
					{% endif %}
				{% endfor %}
			</div>
			<div id="thumb_div">
				<img id="thumb_id">
			</div>
			<div class="modal-footer form-actions">
				<div class="messageContainer"></div>
				<button id="btnsubmit" type="submit" class="btn btn-primary">Submit</button>
				<a id="cancel" onclick="removeOverlay()" data-toggle="modal" class="btn">Cancel</a>
			</div>
		</form>
	</div>
</div>
