{% load follow_tags %}
{% load avatar_tags %}
{% load i18n %}
<div class="pin profile" id="{{ profile.id }}-profile" data-profile="{{ profile.username }}" data-pins="{{ pinsC }}" data-tags="{{ tagsC }}" data-favs="{{ favsC }}" data-following="{{ followingC }}" data-followers="{{ followersC }}" data-cmnts="{{ cmntsC }}">
	<div class="header">
		{% if user.is_authenticated and  request.user != profile %}
			<button id="follow" class="btn btn-mini follow" {% if request.user|is_following:profile %}data-state ="True" {% else %}data-state ="False" {% endif %}type="button">{% if request.user|is_following:profile %}Un-Follow{% else %}Follow{% endif %}</button>
		{% elif request.user == profile %}
			<div class="dropdown pull-right">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="icon-cog"></i>
				</a>
				<ul class="dropdown-menu top dm-caret">
					<li><a href="{% url avatar_change %}">Profile Picture</a></li>
					<li><a href="{% url core:relationships %}">Relationships</a></li>
					<li><a href="{% url notification_notice_settings %}">{% trans "Notification Settings" %}</a></li>
					<li><a href="{% url socialaccount_connections %}">Social Networks</a></li>
					<li><a href="{% url account_email %}">Email Addresses</a></li>
					{% if user.password == "!" %}
						<li><a href="{% url account_set_password %}">Set Password</a></li>
						{% else %}
						<li><a href="{% url account_change_password %}">Change Password</a></li>
					{% endif %}
				</ul>
			</div>
		{% endif %}
		<div class="profile-name inline">
			<h5 class=""><a href="{% url core:home %}user/{{ profile.id }}" onclick="loadData(undefined, '{{ profile.id }}');">{{ profile|capfirst }}</a></h5>
		</div>
		<div class="avatar profile">
			{% if request.user == profile %}
			<div class="avatar-change-btn"><a href="{% url avatar_change %}"><i class="icon-edit"></i></a></div>
			{% endif %}
			{% avatar profile 210 "img" %}
		</div>
		
	</div>
	<div id="tags" class="section tags">
		<h6>Filters:</h6>
		<div class="tags"></div>
	</div>
	<div class="section center">
		<div class="inline center vert-left">
			<a id="user-pins" href="{% url pins:profile profile.id %}"><div class="btn-hover"><span class="pins large display text">{{ pinsC }}</span><br>Pins</div></a>
			<a id="user-tags" href="{% url pins:profile profile.id %}Groups"><div class="btn-hover"><span class="tags large display text">{{ tagsC }}</span><br>Groups</div></a>
		</div>
		<div class="inline center vert-auto">
			<a id="user-favs" href="{% url pins:profile profile.id %}Favorites"><div class="btn-hover"><span class="favs large display text">{{ favsC }}</span><br>Favorites</div></a>
			<a id="user-cmnts" href="{% url pins:profile profile.id %}Comments"><div class="btn-hover"><span class="cmnts large display text">{{ cmntsC }}</span><br>Comments</div></a>
		</div>
		<div class="inline center vert-right">
			<a id="user-fing" href="{% url pins:profile profile.id %}Following"><div class="btn-hover"><span class="following large display text">{{ followingC }}</span><br>Following</div></a>
			<a id="user-fers" href="{% url pins:profile profile.id %}Followers"><div class="btn-hover"><span class="followers large display text">{{ followersC }}</span><br>Followers</div></a>
		</div>
	</div>
	<div class="section catagories"> 
		<h6>Top Catagories:</h6>
		<div class="inline">
			{% for tag in tags %}
				<a id="user-{{ tag.0 }}" class="hover btn-hover" href="{% url core:home %}user/{{ profile.id }}/{{ tag.0 }}/">{{ tag.0 }}<span class="white">: {{ tag.1 }}</span></a>
			{% endfor %}
		</div>
	</div>
	<div class="section sources"> 
		<h6>Favorite sites</h6>
		<div class="inline">
		{% for srcDom in srcDoms %}
		<li class="hover btn-hover"><a href="{{ srcDom.1.1 }}">{{ srcDom.0 }}<span class="white">: {{ srcDom.1.0 }}</span></a></li>
		{% endfor %}
		</div>
	</div>
	<!-- <div class="section">
		<h6>Share</h6>
		<div class="inline">
			<a href="" title="Embed a gallery of images">ESS</a>
			<a href="" title="RSS feed for {{ profile.id }}"><img width="10" height="10" src="http://www.wookmark.com/assets/icon-rss.png" alt="RSS feed for arctelix"></a>
		</div>
	</div> -->
</div>


