<tr class="footer" height="30" style="vertical-align:middle; border-bottom:1px solid #999; border-top:1px solid #999; background: white;">
	<td link="444" alink="398F00" style="vertical-align:middle; text-decoration:none; padding:0 10px;
	text-align:center; font-family:Helvetica, Arial, sans-serif; color: #666; font-size:12px;">
		<a class="brand" href="{{root_url}}" >{{current_site.name}}{{site.name}}</a> 
		| <a href="mailto:pinimatic@gmail.com?Subject=[email support]">Contact Us</a> 
		| <a href="{{ notices_url }}">Manage Notifications</a>
	</td>
</tr>


